body {
  font-size: 16px;
  color: darkslategrey;
  font-family: 'Oxygen', sans-serif;
}

/*Header*/
#header-nav {
  background-color: #ff896d;
  border-radius: 0;
  border: 0;
}
/*End Header*/

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-size: 1.5em;
  font-weight: bolder;
  color: #9d331a;
  margin-top: 0;
  marging-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  font-size: .5em;
  margin-top: 15px;
}

#menu {
  background-color: slategray;
  height:1000px;
}

h1 {
  font-size: 175%;
  margin-bottom: 10px;
  color:red;
}

h2 {
  font-size: 150%;
  margin-bottom: 10px;
  color:black;
}